<!DOCTYPE html>
<html>
	<head>
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


		<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap-social.css" />
		<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css" />
		<script type="text/javascript" src="./assets/js/angular.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />

	    <title>First Step</title>
	</head>
	<body>

		<div id="toolbar">
		</div>
		<div id="container">
			<div class="row toolbar">
				<div class="col-md-3">
					<h2>FirstStep</h2>
				</div>
				<div class="col-md-3 col-md-offset-6">
					<h4 style="margin-top: 10px">name of user</h4>
				</div>
			</div>
			<div id="projectPage"  align="center">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>Title of project</h1>
						<h3>user, user, user</h3>
						
						<div class="tag">Javascript</div>
						<div class="tag">Social justice</div>
						<div class="tag">education</div>
						<p class="description">Wow i love projects. Like seriously. it's crazy. I'm actually in love. With projects. It's serious. Help me. I can't connect with normal people anymore. No one in my family looks me in the eyes. Please someone.</p>
						<button align="center" type="button" class="btn btn-primary btn-lg">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join Project
						</button>
					</div>
				</div>
			</div>
		</div>	

	</body>

</html>