<!DOCTYPE html>
<html>
	<head>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		
		<link rel="stylesheet" type="text/css" href="bootstrap-social.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	    <link rel="stylesheet" type="text/css" href="style.css" />
	    <title>First Step - Setup your Account</title>
	</head>
	<body>

		<div id="toolbar">
		</div>
		<div id="container">
			<div class="row toolbar">
				<div class="col-md-3">
					<h2>FirstStep</h2>
				</div>
				<div class="col-md-3 col-md-offset-6">
					<h4 style="margin-top: 10px">name of user</h4>
				</div>
			</div>
			
			<div class="row moveDown">
				<div id="navbar" align="center">
					<ul>
						<li id="selectRole" class="current">1. Select your role</li>
						<li id="selectInterests">2. Select your interests</li>
					</ul>
				</div>
			</div>
			<div id="chooseRole">
				<h3>Select your Role</h3>
			</div>
			<div id="chooseInterests">
				<h3>Select your interests</h3>
			</div>
			<div class="row">
				<div class="col-md-offset-6 col-md-2">
					<div class="done">
						<button class="btn btn-default" id="goBackToChooseRole">Back</button>
					</div>
				</div>
				<div class="col-md-offset-6 col-md-2">
					<div class="next">
						<button class="btn btn-default" id="cancelAccountCreation">Cancel</button>	
					</div>
				</div>
				<div class="col-md-offset-8 col-md-2">
					<div class="done">
						<button class="btn btn-primary">Done!</button>
					</div>
				</div>
				<div class="col-md-offset-8 col-md-2">
					<div class="next">
						<button class="btn btn-primary" id="goToChooseInterests">Next</button>
					</div>	
				</div>
			</div>
		</div>	
	


	</body>


	<script src="custom.js"></script>
	<script>

		$('document').ready(function(){

			$("#chooseRole").show();
			$("#chooseInterests").hide();
			$(".done").hide();
			$(".next").show();
			$("#selectRole").addClass("current"); 
			$("#selectInterests").removeClass("current");
			$("#titleInfo").text("Select your role:");

			$("#cancelAccountCreation").click(function(e){
				parent.history.back();
				e.preventDefault();
			});

			$("#goToChooseInterests").click(function(e){
				console.log("hi");
				
				$("#selectInterests").addClass("current"); 
				$("#selectRole").removeClass("current");
				$("#chooseRole").hide();
				$("#chooseInterests").show();
				$(".done").show();
				$(".next").hide();
			});
		});

	</script>

</html>