@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Arimo|Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);

body.index {
    background-image: url('../img/indexbg.jpg');
    background-size: cover;
    margin: 0px auto;
}

body {
    margin: 0px auto;
}

#toolbar {
    height: 70px;
    background-color: #7799aa;

}

.toolbar {
    margin-top: -75px;

}

#container {
    height: 100%;
    width: 800px;
    margin: 0px auto;
}

.moveDown {
    margin-top: 20px;
}

body.index h1 {
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 50pt;
}

body.index h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #fff;
    font-family: 'Arimo', sans-serif;
}

h3 {
    color: #bbb;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
}

h3.emphasis {
    color: #7799aa;
}

h4 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}


#navbar {
    display: block;
    display: inline;
}

#navbar ul {
    list-style-type: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0px 20px 0px;
    padding: 16px;
}

#navbar ul li {
    display: inline;
    color: #777;
    padding: 18px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

#navbar ul li.current {
    color: #448888;
    border-bottom: 1px solid #448888;
}


.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#popup {
    position: absolute;
    width: 600px;
    height: 400px;
    background: #fff;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 10px;
}

#popup a {
    color: #aabbcc;
    font-size: 30px;
    float: right;
}

#popup h3 {
    color: #aabbcc;
    font-size: 30px;
    text-align: center;
}

#popup p {
    color: #aabbcc;
    font-size: 15px;
}

#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.3);
    z-index: 999;
}

.join {
    margin-top: -10px;
}

body.index #container {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.form-control {
    height: 50px;
    font-size: 15pt;
}

a.button {
    padding: 14px 24px;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a.button:hover {
    color: #335544;
    background: #fff;
    text-decoration: none;
}

#chooseInterests {
    padding: 20px;
}

#chooseInterests ul {
    list-style-type: none;
    padding: ;
}

#chooseInterests ul li {
    padding: 20px;
    margin: 20px;
}

#chooseRole img {
    margin: 60px;
}

#chooseInterests label {
    padding: 20px;
}

#project {
    border-bottom: 1px solid #ddd;
    margin-top:30px;
}

#project a {
    padding-top: 50px;
    color: #99ccaa;
    font-family: 'Arimo', sans-serif;
    font-size: 15pt;
    text-decoration: none;
}

#project a:hover {
    border-bottom: 2px dashed #99ccaa;
}

#project h2 {
    color: #aabbcc;
    font-size: 10pt;
    font-style: italic;
}

#project p {
    color: #445566 ;
    font-size: 9pt;
    margin: 10px;
    width: 400px;

}

#projectPage h1 {
    color: #99ccaa;
    font-family: 'Arimo', sans-serif;
    font-size: 30pt;
}

#projectPage h2 {
    color: #aabbcc;
    font-size: 15pt;
    font-style: italic;
}

.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #bb99aa;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 9px;
    margin: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
}
 
 
.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
}
 
.tag:after {
    display: inline-block;
    border: 19px solid;
    border-color: transparent transparent transparent #bb99aa;
    height: 0;
    width: 0;
    position: absolute;
    right: -38px;
    top: 0;
    content: "";
    display: inline-block;
}
 





